/*
======================================================
KOB's VARIABLE SECTION
======================================================
*/

$inverseColor : #000;

$screen-xs : 768px; 
$screen-sm : 960px;
$screen-md : 970px;
$screen-lg : 1170px;
$screen-xlg : 1170px;
